In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv('my_att.csv')
print(df1.head(5))

   Unnamed: 0  sachin copy 157  sachin copy 143  sachin copy 180  \
0           0        -0.119340        -0.119340        -0.119340
1           1         0.061009         0.061009         0.061009
2           2         0.022536         0.022536         0.022536
3           3        -0.057493        -0.057493        -0.057493
4           4        -0.126041        -0.126041        -0.126041

   sachin copy 21  sachin copy 35   rohit_0  sachin copy 34  sachin copy 20  \
0       -0.119340       -0.119340 -0.113573       -0.119340       -0.119340
1        0.061009        0.061009  0.035611        0.061009        0.061009
2        0.022536        0.022536  0.055030        0.022536        0.022536
3       -0.057493       -0.057493 -0.041304       -0.057493       -0.057493
4       -0.126041       -0.126041  0.011725       -0.126041       -0.126041

   sachin copy 142       ...         sachin copy 159  nishal_kv  \
0        -0.119340       ...               -0.119340  -0.149397
1         0.061009       ...                0.061009   0.039261
2         0.022536       ...                0.022536   0.051815
3        -0.057493       ...               -0.057493   0.029766
4        -0.126041       ...               -0.126041  -0.003479

   sachin copy 173  sachin copy 167  sachin copy 11  sachin copy 39  \
0        -0.119340        -0.119340       -0.119340       -0.119340
1         0.061009         0.061009        0.061009        0.061009
2         0.022536         0.022536        0.022536        0.022536
3        -0.057493        -0.057493       -0.057493       -0.057493
4        -0.126041        -0.126041       -0.126041       -0.126041

   sachin copy 38  sachin copy 10  sachin copy 166  sachin copy 172
0       -0.119340       -0.119340        -0.119340        -0.119340
1        0.061009        0.061009         0.061009         0.061009
2        0.022536        0.022536         0.022536         0.022536
3       -0.057493       -0.057493        -0.057493        -0.057493
4       -0.126041       -0.126041        -0.126041        -0.126041

[5 rows x 193 columns]

In [10]:
df1.drop(df1.index[1:192], inplace=True)
df1.head()

,Unnamed: 0,sachin copy 157,sachin copy 143,sachin copy 180,sachin copy 21,sachin copy 35,rohit_0,sachin copy 34,sachin copy 20,sachin copy 142,...,sachin copy 159,nishal_kv,sachin copy 173,sachin copy 167,sachin copy 11,sachin copy 39,sachin copy 38,sachin copy 10,sachin copy 166,sachin copy 172
0,0,-0.11934,-0.11934,-0.11934,-0.11934,-0.11934,-0.113573,-0.11934,-0.11934,-0.11934,...,-0.11934,-0.149397,-0.11934,-0.11934,-0.11934,-0.11934,-0.11934,-0.11934,-0.11934,-0.11934

In [17]:
for column in df1.columns:
    df1[column] = 0
df1.head()

,Unnamed: 0,sachin copy 157,sachin copy 143,sachin copy 180,sachin copy 21,sachin copy 35,rohit_0,sachin copy 34,sachin copy 20,sachin copy 142,...,sachin copy 159,nishal_kv,sachin copy 173,sachin copy 167,sachin copy 11,sachin copy 39,sachin copy 38,sachin copy 10,sachin copy 166,sachin copy 172
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
df1.to_csv('my_attendance.csv')

In [20]:
df2 = pd.read_csv('my_attendance.csv')
df2.head()

,Unnamed: 0,Unnamed: 0.1,sachin copy 157,sachin copy 143,sachin copy 180,sachin copy 21,sachin copy 35,rohit_0,sachin copy 34,sachin copy 20,...,sachin copy 159,nishal_kv,sachin copy 173,sachin copy 167,sachin copy 11,sachin copy 39,sachin copy 38,sachin copy 10,sachin copy 166,sachin copy 172
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:

df1 = pd.read_csv('my_marked_attendance.csv')
print(df1.head(5))

   Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  sachin copy 157  sachin copy 143  \
0           0             0               0                0                0

   sachin copy 180  sachin copy 21  sachin copy 35  rohit_0  shalinee  \
0                0               0               0        0      True

        ...         sachin copy 159  nishal_kv  sachin copy 173  \
0       ...                       0          0                0

   sachin copy 167  sachin copy 11  sachin copy 39  sachin copy 38  \
0                0               0               0               0

   sachin copy 10  sachin copy 166  sachin copy 172
0               0                0                0

[1 rows x 203 columns]

In [22]:
name_and_timestamp={}

In [27]:
import time
import calendar
ts = calendar.timegm(time.gmtime())

name_and_timestamp['nilay'] = ts
name_and_timestamp

{'nilay': 1545315034}

In [31]:
if name,val in name_and_timestamp:
    print("hi")

In [ ]:
if name not in name_and_timestamp:
    name_and_timestamp[name] = calendar.timegm(time.gmtime())

elif ((calendar.timegm(time.gmtime() - name_and_timestamp[name]) > 3)):
    name_and_timestamp[name] = calendar.timegm(time.gmtime())
    print(name, "Present Marked")